body {
    font-family: Helvetica, sans-serif;
}

.home {
    font-size: 22px;
}

img {
    width: 400px;
    height auto;
}

h2 {
    background-color: lightgreen;
}

h3 {
    padding-left: 10px;
    margin-bottom: 4px;
}